.movieCard {
    position: relative;
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.movieImage {
    border-radius: 30px;
    background-color: azure;
    width: 110px;
    height: auto;
    margin: 10px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    display: none;
}

.movieCard:hover .overlay {
    display: block;
}